!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")/
    / Set the viewport width to device width for mobile
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %title Zurb Demo
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #links
      #links_title Zurb Demo
      %img(src='/assets/zurb_demo.jpeg')
      %hr/
      %a(href='/welcome/index') Home
      %a(href='/welcome/about') About
      %a(href='/welcome/blog') Blog
      %a(href='/welcome/contact') Contact
      %a(href='/welcome/guestbook') Guestbook
      %a(href='/welcome/tos') Terms of Service
      %hr/
    #maincontent
      =yield
    :css
      #links { background-color: #ddd; display: inline; float: left; padding: 9px; margin: 5px; }
      #links a { display: block; padding-bottom: 9px;}
      #links img { width: 150px; }
      #maincontent { width: 900px; background-color: #eee; float: left; padding: 9px; margin: 5px; }
